<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Agenda.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFAC7921253F1A490024B71E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFAC793A253F1A4A0024B71E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFAC7945253F1A4A0024B71E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
